<!DOCTYPE html>
<html ng-app="vitApp" lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="./bower_components/angular-material/angular-material.css" rel="stylesheet" />
    </head>
    <body ng-controller="mainController">
        <marquee>Hello World!! </marquee>
        {{debba}}
        <script src="./bower_components/jquery/dist/jquery.min.js" type="text/javascript" ></script>
        <script src="./bower_components/angular/angular.min.js" type="text/javascript" ></script>
         <script src="./bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
        <script src="./bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
        <script src="./bower_components/angular-material/angular-material.min.js" type="text/javascript" ></script>
        <script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript" ></script>
        <script src="./main.js" text="text/javascript"> </script>
    </body>
</html>